{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Esploro</h1>
    <h2>Dashboard</h2>
    <form method="post" enctype="multipart/form-data">
        <label for="csv">CSV</label>
        <input type="file" name="csv" id="csv" required>

        <button class="btn btn-lg btn-primary" type="submit">Send</button>
    </form>

    {% if data %}
        <table>
            <tr>
                <th>amount</th>
                <th>date</th>
                <th>description</th>
            </tr>
        {% for row in data %}
            <tr>
                <td>{{ row[0] ?? ''}}</td>
                <td>{{ row[1] ?? ''}}</td>
                <td>{{ row[2] ?? ''}}</td>
            </tr>
        {% endfor %}
        </table>
        <h3>Total: {{ total }}</h3>
        <h3>TotalCount: {{ totalCount }}</h3>
    {% endif %}

{% endblock %}
